{% extends "admin_layout.html.twig" %}

{% block admin_title %} Nouvel article {% endblock %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="well" id="categorie_form">
        {{ form_start(actualite_form, { 'attr': {'class': 'form-horizontal'} }) }}

        <div class="form-group">
            {{ form_label(actualite_form.titre, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
            }}) }}
            <div class="col-sm-6">
                {{ form_errors(actualite_form.titre) }}
                {{ form_widget(actualite_form.titre, { 'attr':  {
                'class': 'form-control'
                }}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(actualite_form.descriptif, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
            }}) }}
            <div class="col-sm-6">
                {{ form_errors(actualite_form.descriptif) }}
                {{ form_widget(actualite_form.descriptif, { 'attr':  {
                'class': 'form-control', 'rows':'4'
                }}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(actualite_form.fileName, 'Ajouter une image', { 'label_attr':  {
            'class': 'col-sm-4 control-label'
            }}) }}
            <div class="col-sm-6">
                {{ form_errors(actualite_form.fileName) }}
                {{ form_widget(actualite_form.fileName, { 'attr':  { 
                    'name': 'fileToUpload', 
                }}) }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-3">
                <input type="submit" class="btn btn-primary" />
            </div>
        </div>
        {{ form_end(actualite_form) }}

    </div>

{% endblock %}



