<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ app.request.basepath }}/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">       
        <link href="{{ app.request.basepath }}/css/admin_layout.css" rel="stylesheet">
        <title>MicroCMS - {% block title %}{% endblock %}</title>
    </head>

    <body>




        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-target">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('home') }}">Accueil</a>
                </div>

                <ul class="nav navbar-nav pull-right">
                    <li role="presentation"><a href="#"><span class="glyphicon glyphicon-user"></span> Administratrice</a></li>
                    <li role="presentation"><a href="{{ path('admin_logout') }}">Se déconnecter</a></li>
                </ul>

            </div><!-- /.container -->
        </nav>









        <div class="container container-admin-layout">
            <div class="jumbotron header">
                <h2>Tableau de bord</h2>  
            </div>
            <h3 class="bg-info"> {% block admin_title %}{% endblock %}</h3>

            <!-- Admin content
                =============================================================-->
            <div class="row" >
                <div class="col-md-3 well">

                    <ul class="nav nav-pills nav-stacked"> Nomines
                        <li role="presentation" class="{% if active == 1 %}active{%endif%}">
                            <a href="{{ path('nomine_all')}}">Accueil Admin</a>
                        </li>
                        <li role="presentation" class="{% if active == 2 %}active{%endif%}">
                            <a href="{{ path('nomine_add')}}">Nouveau Nomine</a>
                        </li>
                    </ul>

                    <ul class="nav nav-pills nav-stacked"> Categorie
                        <li role="presentation" class="{% if active == 3 %}active{%endif%}">
                            <a hre  href="{{ path('categorie_add')}}">Nouvelle Categorie</a>
                        </li>
                        <li role="presentation" class="{% if active == 4 %}active{%endif%}">
                            <a href="{{ path('all_categories')}}">Toutes les Categories</a>
                        </li>
                    </ul>

                    <ul class="nav nav-pills nav-stacked"> Honneur
                        <li role="presentation" class="{% if active == 5 %}active{%endif%}">
                            <a hre  href="{{ path('honneur_add')}}">Nouvel Honneur</a>
                        </li>
                        <li role="presentation" class="{% if active == 6 %}active{%endif%}">
                            <a href="{{ path('all_honneurs')}}">Tous les Honneurs</a>
                        </li>
                    </ul>

                    <ul class="nav nav-pills nav-stacked"> Actualite
                        <li role="presentation" class="{% if active == 7 %}active{%endif%}">
                            <a hre  href="{{ path('actualite_add')}}">Nouvel actualite</a>
                        </li>
                        <li role="presentation" class="{% if active == 8 %}active{%endif%}">
                            <a href="{{ path('all_actualites')}}">Toutes les actualites</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-9">
                    {% block content %} {% endblock %}
                </div>
            </div>
        </div>    
        <!-- jQuery -->
        <script src="{{ app.request.basepath }}/lib/jquery/jquery.min.js"></script>
        <!-- JavaScript Boostrap plugin -->
        <script src="{{ app.request.basepath }}/lib/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
