{% extends "admin_layout.html.twig" %}

{% block admin_title %} Modifier Nominé{% endblock %}

{% block content %} 
    <div class="well">
        {{ form_start(nomine_form, { 'attr': {'class': 'form-horizontal'} }) 
        }}
        <!-- Nom
            =============================================================-->
        <div class="form-group">
            {{ form_label(nomine_form.nom, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
            }}) }}
            <div class="col-sm-6">
                {{ form_errors(nomine_form.nom) }}
                {{ form_widget(nomine_form.nom, { 'attr':  {
                'class': 'form-control'
                }}) }}
            </div>
        </div>

        <!-- liste des categories
        =============================================================-->
        <div class="form-group">
            {{ form_label(nomine_form.categorieID, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
            }}) }}

            <div class="col-sm-6">
                {{ form_errors(nomine_form.categorieID) }}

                {{ form_widget(nomine_form.categorieID, { 'attr':  {
                        'class': 'form-control'
                }}) }}
            </div>
        </div>

        <!-- Descriptif
        =============================================================-->
        <div class="form-group">
            {{ form_label(nomine_form.descriptif, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
            }}) }}
            <div class="col-sm-6">
                {{ form_errors(nomine_form.descriptif) }}
                {{ form_widget(nomine_form.descriptif, { 'attr':  {
                    'rows':4,
                    'class': 'form-control'
                }}) }}
            </div>
        </div>

        <!-- Actualite
        =============================================================-->
        <div class="form-group">
            {{ form_label(nomine_form.actualite, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
            }}) }}
            <div class="col-sm-6">
                {{ form_errors(nomine_form.actualite) }}
                {{ form_widget(nomine_form.actualite, { 'attr':  {
                    'rows':4,
                    'class': 'form-control'
                }}) }}
            </div>
        </div>

        <!-- Boutton Submit
            =============================================================-->      
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-3">
                <input type="submit" class="btn btn-primary" value="Enregistrer" />
            </div>
        </div>
        {{ form_end(nomine_form) }}
    </div>

    <a class="right" href="{{ path('nomine_all') }}" >retour</a>
{% endblock %}
