{% extends "public_layout.html.twig" %}

{% block title %}Contact{% endblock %}

{% block content %}
    <link href="{{ app.request.basepath }}/css/contact.css" rel="stylesheet">

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="row">

        <div class="col-md-7 well">
            <h2>Nous contacter</h2>
            {{ form_start(contact_form, { 'attr': {'class': 'form-horizontal'} }) 
            }}

            <div class="form-group">       
                {{ form_errors(contact_form.prenom) }}
                {{ form_widget(contact_form.prenom, { 'attr':  {
                'class': 'form-control', 'placeholder':'Prénom'
                }}) }}               
            </div>

            <div class="form-group">       
                {{ form_errors(contact_form.email) }}
                {{ form_widget(contact_form.email, { 'attr':  {
                'class': 'form-control', 'placeholder':'Email'
                }}) }}               
            </div>

            <div class="form-group">       
                {{ form_errors(contact_form.message) }}
                {{ form_widget(contact_form.message, { 'attr':  {
                'class': 'form-control', 'rows': '4', 'placeholder':'Message'
                }}) }}               
            </div>

            <div class="form-group">             
                <input type="submit" class="btn btn-primary" value="Envoyer" />               
            </div>
            {{ form_end(contact_form) }}
        </div>

        <div class="col-md-1"></div>

        <div class="col-md-4 ">           
            <strong>Adresse: </strong><address>21 rue de Malte <br>78500 Sartrouville (France)</address>
            <p><strong>Tel:</strong> </p>
        </div>
    </div>

{% endblock %}