{% extends "public_layout.html.twig" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    <link href="{{ app.request.basepath }}/css/honneur.css" rel="stylesheet">

    <div class="page-header">
        <h1 class="titre">Les Honneurs.<small>Toutes les récompenses à l'issue de cette cérémonie</small></h1>
    </div> 
    {% for honneur in honneurs %}

        <div class="row">  
            <div class="col-md-4">
                <a href="{{ path('nomine_honneur', {'id': honneur.categorie.id })}}">
                    <img src="{{ app.request.basepath }}/../images/{{honneur.fileName}}" width="100%">
                </a>
            </div>
            <div class="col-md-8">
                <a href="{{ path('nomine_honneur', {'id': honneur.categorie.id })}}" >
                    <h1>{{honneur.libelle}}</h1> 
                </a>
                <h2> {{honneur.descriptif}}</h2>
            </div>
        </div> <hr class="divider">
 
    {% endfor %}
    
    <div class="space"></div>

{% endblock %}
