{% extends "public_layout.html.twig" %}

{% block title %} {{ title }} {% endblock %}

{% block content %} 
    <style>
        .bg-success {
            background-color: #221F1F;
            opacity: 0.7;
        }
        
        .bg-success p {
            color: white;
        }
    </style>
    <div>
        <img src="{{ app.request.basepath }}/../images/{{nomine.fileName}}" width="250">
    </div>
    <div class="well" >
        <div class="row">
            <div class="col-md-6"><p><strong>Prénom</strong></p></div>
            <div class="col-md-6"><p>{{nomine.nom}}</p></div>           
        </div>

        <div class="row bg-success">
            <div class="col-md-6"><p><strong>Catégorie</strong></p></div>
            <div class="col-md-6"><p>{{nomine.categorie.libelle}}</p></div>           
        </div>

        <div class="row">
            <div class="col-md-6"><p><strong>Descriptif</strong></p></div>
            <div class="col-md-6"><p>{{nomine.descriptif}}</p></div>           
        </div>

        <div class="row bg-success">
            <div class="col-md-6"><p><strong>Actualite</strong></p></div>
            <div class="col-md-6"><p>{{nomine.actualite}}</p></div>           
        </div>
    </div>

{% endblock %}